# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Mac
.DS_Store

# Local Development
.env

\.vscode/
.tmp

# db
dump.rdb

# production
dist
